# Variables, Types, and Operators

   * We've already seen that we can do simple calculations with literals, such as:

In [ ]:
3 * 2 # jupyter, spyder, and python print the return value of the last line automatically.

   * We also started to see that you could define variables, and use them in the same way

In [ ]:
a = 3
b = 2
print(a * b)

### What basic types of variables can we define?
* **`bool`**: `True`, `False`
* **`int`**: `42`
* **`float`** (floating point): `12.345`
* **`string`**: `Play it once, Sam, for old times' sake.`
* **`list`**: `[2, 3, 5, 7, 11, 13, 17, 19, 23]`
* **`dict`** `(dictionary): {"apple" : "fruit", "banana" : "fruit", "broccoli" : "vegetable"}`


* We'll consider variables of arbitrary complexity, next week.

If you are ever confused or curious as to the "`type`" of a variable, just use the "`type()`" function:

In [ ]:
type(9), type(9.0), type("9.0"), type("9"), type(9 > 0), type([9])

### What operations can we perform on these variables?

##  Integers.
* These are the familiar operations -- they should 'just make sense,' with a few caveats.

### Assignment (for any type): `=`

In [ ]:
i = 1

Note the shortcut:

In [ ]:
a, b = 2, 3
print(a, b)

### Arithmetic operators: `+`, `-`, `*`, `/`, `%`, `//`, `**`.
(Don't forget your orders of operations.)

In [ ]:
a, b = 25, 7
print("Addition                a +  b =", a +  b)
print("Subtraction             a -  b =", a -  b)
print("Multiplication          a *  b =", a *  b)
print("Division                a /  b =", a /  b) # note that does not yield an int!!
print("Floor division          a // b =", a // b) # yields an int, by dropping the decimals.
print("Modulus (remainder)     a %  b =", a %  b)
print("Exponentiaion           a ** b =", a ** b)

### One can also 'combine' assignment and arithmetic:

In [ ]:
a, b = 2, 3
a *= b
print(a, b)

### Comparison operators.
* Like the arithmetic operators, these behave as you'd expect, returning booleans.
* Equals is `==`, since asignment uses `=`.

In [ ]:
a, b = 25, 7
print("a =", a, "and b =", b)
print("Equality                   (a == b) :", a == b)
print("Greater than               (a >  b) :", a >  b)
print("Less than                  (a <  b) :", a <  b)
print("Greater than or equal to   (a >= b) :", a >= b) # note that does not yield an int!!
print("Less than or equal to      (a <= b) :", a <= b) # yields an int, by dropping the decimals.
print("Not equal to               (a != b) :", a != b)

* One more operator for integers, `is`, can be tricky:

In [ ]:
a = 17
b = 17
print(a, b, a == b, a is b)

a = 257
b = 257
print(a, b, a == b, a is b)

a = 8123497641671524
b = 8123497641671524
print(a, b, a == b, a is b)

* <font color=darkred>**WHAT?!**</font>  Equality checks if the two values are equal, while `is` checks if it is the same object.
* Python is very smart, and knows that it will need to use low-value integers frequently.  -5 to 256 have special status behind the scenes: a and b are _actually_ the same object for values less than 257.  `is` will turn out to be useful for strings.  But for integers, perhaps stick to equality!

## booleans
* Since we're already touching on it, a boolean (`bool`) is just a `True`/`False` value.
* You will use these non-stop when we arrive at conditional execution and loops.
* Let's review some _boolean arithmetic!!_
* The main point of interest are **`and`** and **`or`** operations, and ways that other variables get converted into them.
  * That is: is the value 0 or a string or list empty?

In [ ]:
print("True and False            ", True and False)
print("True or False             ", True or False)
print("True and (False or True)  ", True and (False or True))
print("bool(0)                   ", bool(0))
print("bool(1)                   ", bool(1))
print("bool(-1)                  ", bool(-1))
print("bool([])                  ", bool([]))
print("bool([0])                 ", bool([0]))
print("bool('False')             ", bool('False'))
print("bool(0.0)                 ", bool(0.0))

* What are you are doing here is "casting" these other variables as a boolean.  This can be done, in general, whenever it "makes sense."   That is, you can convert between formats, by wrapping a variable in `int()`, `str()`, etc.

In [ ]:
int(9.1), int(0.9), str(9), float(9), int("91"), str([9])

BUT

In [ ]:
# int("nine")

In [ ]:
# int('0.9')

## floats
All of the arithmetic and assignment operators are pretty much like for integers -- and as you would expect.  We've already seen this:

In [ ]:
mara_miles  = 26.2188 # miles in a marathon 
km_per_mile = 1.609344
print(mara_miles, "miles is", mara_miles * km_per_mile, "km.")

But some behavior is going to be different from what you expect:

In [ ]:
print(9.12 == 9.12)

In [ ]:
print(0.3,   (0.1 * 3))
print(0.3 == (0.1 * 3))

This is because the computer performs the calculation with limited precision.

## Strings
* We've already seen many strings, but this is possibly the first new 'type' for you.
* You can define strings with single, double, or triple quotes.

In [ ]:
a = "Call me Ishmael."
b = 'Happy families are all alike; every unhappy family is unhappy in its own way.'
c = '''You are about to begin reading Italo Calvino's new novel, 'If on a winter's night a traveler.' '''
print(a)
print(b)
print(c)

* The triple quotes (`'''`) are special because they allow a string to extend over lines:

In [ ]:
lorem = '''Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
culpa qui officia deserunt mollit anim id est laborum.'''
print(lorem)

* Note that if you type the quote character(s), it will stop the string.  In other words, this will fail:

In [ ]:
# c = 'You are about to begin reading Italo Calvino's new novel, 'If on a winter's night a traveler.' '
# print(c)

* In this and many other instances, you must use _escape_ characters, namely `\`.
* Among others: a carriage return (`\n` or sometimes `\r` in Windows), a tab (`\t`), quotes (`\'` or `\"`), backslash (`\\`), etc.

In [ ]:
lorem = "Lorem ipsum dolor sit amet, consectetur adipiscing elit,\nsed do eiusmod tempor incididunt ut labore et dolore magna aliqua. \nUt enim ad minim veniam, quis nostrud exercitation ullamco laboris \nnisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in \nreprehenderit in voluptate velit esse cillum dolore eu fugiat nulla \npariatur. Excepteur sint occaecat cupidatat non proident, sunt in \nculpa qui officia deserunt mollit anim id est laborum."
print(lorem)

* As for integers and floats, 'arithmetic' is defined in cases where it is meaningful:

In [ ]:
print("abc" + "def")
print(3 * "abc ")

* In cases where it does not make sense, you'll get an error:

In [ ]:
# "abc" - "abc"

* The equality operators (chiefly, `==`, `is` and `!=`) are also defined for strings.

In [ ]:
a, b = "happy", "happy"
print(a is b, b == "sad", b != "sad")

* One of the most useful features is `in`, which checks to see if one string is contained within another:

In [ ]:
"foo foo" in "foo bar foo foo"

* <font color=darkred>**Check if there is lettuce in your "bacon, lettuce, and tomato".**</font>

```
blt = "bacon, lettuce, tomato"
```

### String _methods_.

* _Methods_ are operations that an object can do to itself.  These is part of _classes_, which we'll cover more next week.
* Python has a tremendous number of **methods** on strings, see <a href=https://docs.python.org/3/library/stdtypes.html#string-methods>here</a>.
* This tremendous variety means that python is truly one of the greatest programming languages for dealing with strings.
* We'll cover a few of the most-used ones: **`replace()`**, **`split()`**, and **`format()`**.  Note that these return new values.

**replace(a, b)** _replaces_ all occurrences of the first argument with the second.

In [ ]:
a, b, = "hello", "goodbye"
s1 = "hello world, hello"
s2 = s1.replace(a, b)
s1, s2

* <font color=darkred>**Use `replace()` to turn your BLT into an MLT (mutton, lettuce and tomato).**</font>

**`split()`** separates a string into a list of strings, on an optional argument (by default, whitespace).

In [ ]:
s2.split()

* <font color=darkred>**Use `split()` to separate apart the components of your BLT into a list (next type up!).**</font>

### **format()** is perhaps the most-important string method; it is used to format almost every piece of output, with tremendous flexibility (and complexity).

A simple example is not so bad:

In [ ]:
print("I would", "love", "to print my values:", 1, 2, 3)
print("I would {} to print my values: {}, {}, {}".format("love", 1, 2, 3))

But you can also specify the positions:

In [ ]:
print("I would {3} to print my values: {1}, {0}, {2}".format(2, 1, 3, "love"))

* And you can also specify exactly how to format (what precision, padding, etc.) floats or other numbers.
* In the case below, the sequences following the colons denote the format, `d` represents an integer, and the numbers after the colons specify how wide the variable should print.

In [ ]:
x = 1
print('{0:3d}{1:5d}{2:6d}{3:7d}'.format(x ** 1, x ** 2, x ** 3, x ** 4))

x = 2
print('{0:3d}{1:5d}{2:6d}{3:7d}'.format(x ** 1, x ** 2, x ** 3, x ** 4))

x = 3
print('{0:3d}{1:5d}{2:6d}{3:7d}'.format(x ** 1, x ** 2, x ** 3, x ** 4))

x = 4
print('{0:3d}{1:5d}{2:6d}{3:7d}'.format(x ** 1, x ** 2, x ** 3, x ** 4))

x = 5
print('{0:3d}{1:5d}{2:6d}{3:7d}'.format(x ** 1, x ** 2, x ** 3, x ** 4))

x = 6
print('{0:3d}{1:5d}{2:6d}{3:7d}'.format(x ** 1, x ** 2, x ** 3, x ** 4))

x = 7
print('{0:3d}{1:5d}{2:6d}{3:7d}'.format(x ** 1, x ** 2, x ** 3, x ** 4))

x = 8
print('{0:3d}{1:5d}{2:6d}{3:7d}'.format(x ** 1, x ** 2, x ** 3, x ** 4))

You can also specify the precision for a floating point number, using `.#f`.  For instance:

In [ ]:
mara_miles = 26.2188 # miles in a marathon 
km_per_mile = 1.609344
print("{0:.2f} miles is {1:.2f} kilometers".format(mara_miles, mara_miles * km_per_mile))

Let's stop there -- you can find all sorts of formatting tips, <a href=https://docs.python.org/3/tutorial/inputoutput.html#fancier-output-formatting>here</a>.

## Lists
* Lists are sequences/ordered groups of other objects.
* Typically those objects are of the same type, but that is not enforced.
* They are denoted by square brackets.

In [ ]:
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23]

Like strings, there are arithmetic operators in some cases:

In [ ]:
labc = ['a', 'b', 'c']
ldef = ['d', 'e', 'f']

print(labc + ldef)

Multiplication can be a useful trick for building an array.

In [ ]:
l = [0] * 3
l

But building multiple levels deep can produce very annoying results (careful!!).

In [ ]:
l = [[0] * 3] * 3
l[0][0] = 1
l ## WEIRD!!!

The most important operator is `[first:last:step]` (all of which are optional), which allows reference specific elements:

In [ ]:
print(primes[0])    # first
print(primes[-2])   # second from the end
print(primes[-3:])  # all elements, from the third to last to the end
print(primes[::-1]) # step through the list backwards

As for strings, the `in` keyword is very useful:

In [ ]:
print("Is 19 prime?", 19 in primes)

* <font color=darkred>**Print the fifth prime.**</font>  (Note that indexes start from 0.)

* <font color=darkred>**Print "d" from the list `l`.**</font>
  ```
  l = ["a", "b", "c", "d", "e", "f", g"]
  ```

`join()` is a _string method_ that takes a list as an "argument" -- roughly, the opposite of `split()`.  You can use it to turn lists back into strings:

In [ ]:
", ".join(["apples", "bananas", "pears"])

* <font color=darkred>**As above, query whether there is mutton in your blt.**</font>
  ```
  blt = ["bacon", "lettuce", "tomato"]
  ```
  
* <font color=darkred>**Then use `join()` to reassemble the parts of your blt into a string.**</font>

### List methods
You can find all of the list methods <a href=https://docs.python.org/3/tutorial/datastructures.html>here</a>.

The most common _method_ for lists is **`append()`** which allows you to add values to the list.

In [ ]:
even = [0, 2, 4, 6, 8, 10, 12]
even.append(14)
even.append(16)
print(even)

* <font color=darkred>**Accomplish the same thing as above, using list addition instead of append.**</font>

Double click to reveal answer.
<font color=white>
even = [0, 2, 4, 6, 8, 10, 12]
even += [14]
even += [16]

even = [0, 2, 4, 6, 8, 10, 12]
even += [14, 16]
</font>

You may also want to use list...:
* **`l.pop()`**: remove the last element.
* **`l.reverse()`**: flip the order (same as l[::-1]).
* **`l.extend(L)`**: add a list `L` to its end (same as addition).
* **`l.sort()`**: rearrange the elements, in order.

Unlike for strings, most of these methods will _change_ the list (they work `in place`).

### Operations on iterables: 

 * **`max()` returns the larget value.**
 * **`min()` returns the smallest value.**
 * **`sum()` returns the sum of all values.**
 * **`len()` returns the number of elements.**
 * **`all()` returns True if every element is `True`, and `False` otherwise.**
 * **`any()` returns True if at least one element is `True`.**
 * **`sorted()` returns a sorted copy of the list (like sort, but not in-place.**

In [ ]:
l = [1, 0, 1.7, -1, 2.4]
print(len(l), max(l), sum(l), all(l), any(l))

* <font color=darkred>**What is the average value of `l`?**</font>

## Dictionaries (dict)
* Dictionaries are like lists where the index can be anything.  This can be used for, say a phone book.
* Dictionaries may be declared/assigned, using curly brackets: `{}`.
* The index is called a `key`, and the stored value is still... the `value`.
* (In technical parlance, these are _hash_ tables.  The `key` is converted into a unique number, used to retrieve the `value`.)

In [ ]:
d = {"Danny" : 8005550489, "Jackie" : 8005551234, "Joey" : 9005555566, "Louise" : 5551285}
print(d)
d["Danny"]

You can print out the "keys" or "values" like so:

In [ ]:
print(d.keys())
print(d.values())

* Many web APIs (Application Programming Interfaces) use the "json" (JavaScript Object Notation) data format, which looks an awful lot like a nested dictionary and list.  <font color=darkred>**Extract the duration from the google maps API json response, for the time it takes to go drive from the Aqua Building to the Flatiron Building in NYC as a _number of hours_.**

In [ ]:
json = {
   "destination_addresses" : [ "175 5th Ave, New York, NY 10010, USA" ],
   "origin_addresses" : [ "225 N Columbus Dr #220, Chicago, IL 60601, USA" ],
   "rows" : [
      {
         "elements" : [
            {
               "distance" : {
                  "text" : "1,277 km",
                  "value" : 1277070
               },
               "duration" : {
                  "text" : "12 hours 9 mins",
                  "value" : 43715
               },
               "status" : "OK"
            }
         ]
      }
   ],
   "status" : "OK"
}

print(json)